h1 {
    border: 15px solid transparent;
    border-image:url(../images/border.png) 20% round;
    padding: 15px;
    width: 40%;
    text-align: center;
    font-family: verdana, sans-serif;
}

p {
    border: 10px solid transparent;
    border-image:url(../images/double_line.png) 12 stretch;
    padding: 10px;
    width: 30%;
}

