body {
    font-family: verdana, sans-serif;
}

h1 {
   /* border: solid 2px; */
    box-shadow: 0.33rem 0.25rem 0.3rem 0.2rem grey inset;
    padding: 10px;
    width: 33%;
    text-align: center;
}

p {
    box-shadow: 0.33rem 0.25rem 0.3rem 0.3rem grey;
    padding: 10px;
    width: 33%;
}